.bars {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    z-index: -1;
  }
  
  .bar {
    height: 100%;
    width: 2px;
    background-color: #f5f5f5;
    opacity: 0.7;
  }
  
  
  